.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .homeContainer{
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.home .card .container {
  display: flex;
  flex-direction: column;
}

.home .card .container span {
  font-weight: bold;
}

.home .card .container p {
  word-wrap: break-word;
}

.home .card .container .button, .home .card .container .label {
  margin: 5px 0;
}
